openapi: 3.0.1

info:
  title: LASER
  version: 0.0.1
  description: Embedding parallel languages with LASER. The results of embeddings are shown as float numbers. Sentences with different languages but similar linguistic characteristics have similar values.

servers:
  - url: https://endpoint.ainize.ai/kmkwon94/ainized-laser/

tags:
  - name: LASER
    description: Laser API

paths:
  /vectorize:
    get:
      summary: embedding parrallel sentences. This will be shown as 1024 dimensions
      tags:
        - LASER
      parameters:
        - name: q
          in: query
          required: true
          description: value that you want to type
          examples:
            en:
              summary: "english sample"
              value: "Hello nice to meet you"
            ko:
              summary: "korean sample"
              value: "안녕하세요 권강민입니다."
            other languages:
              summary: "input other languages"
              value: "input other lagunages's sentences"
          schema:
            type: string
        - name: lang
          in: query
          required: true
          description: value that you want to encode lagnuages
          examples:
            en:
              summary: "english sample"
              value: "en"
            ko:
              summary: "korean sample"
              value: "ko"
            other languages:
              summary: "input other languages"
              value: "input other languages"
          schema:
            type: string

      responses:
        "200":
          description: Successful Operation (1024 float32 values at "embedding" field)
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: string
                  embedding:
                    type: array
                    items:
                      type: number
                      format: float
